{% extends 'JTBlogBundle::layout.html.twig' %}
{% macro browse(categories) %}
<ul>
	{% for category in categories %}
		<li>
		    {{ category.name }}
		    <a href="{{ path('jt_blog.category_edit', { 'id': category.id }) }}">edit</a>
            <a href="{{ path('jt_blog.category_new_child', { 'id': category.id }) }}">new child</a>
            {% if category.children|length %}
            	{{ _self.browse(category.children) }}
            {% endif %}
		</li>
	{% endfor %}
</ul>
{% endmacro %}
{% block content %}
    <h1>Category list</h1>

	{{ _self.browse(categories) }}

    <ul>
        <li>
            <a href="{{ path('jt_blog.category_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
