{% extends 'JTBlogBundle::layout.html.twig' %}

{% block content %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('jt_blog.category_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
