{% set code = (status_code in([403,404, 500])) ?: 'general' %}
{% extends 'base.html.twig' %}
{% trans_default_domain "exception" %}
{% block title %}{{ (code ~ '.title')|trans }}{% endblock %}
{% block default_nav %}{% endblock %}
{% block footer_subscribe %}{% endblock %}
{% block body %}
<div id="error" class="container">
	<h1>{{ (code ~ '.title')|trans }}</h1>
	<h2>{{ 'return'|trans({'%code%': status_code, '%text%': status_text}) }}</h2>

	<p>{{ (code ~ '.return')|trans }}</p>

	<div id="controls">
		<a class="btn btn-default" href="{{ path('homepage') }}">
			<i class="fa fa-home fa-2x"><span class="sr-only">{{ 'back_to_home'|trans }}</span></i>
		</a>
		<a class="btn btn-success" href="{{ path('contact') }}">
			<i class="fa fa-pencil-square-o fa-2x"><span class="sr-only">{{ 'contact_us'|trans }}</span></i>
		</a>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	{% stylesheets 'css/error.min.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}