{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
	
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ 'profile.show.common' }}</h3>
				</div>
				<div class="panel-body">
					<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    				<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    				<p>{{ 'profile.show.last_login'|trans }}: {{ user.lastLogin|localizeddate('short', 'short') }}</p>
				</div>
			</div>
		</div>
		{% if is_granted('ROLE_TRANSLATOR') %}
			<div class="col-lg-6 col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ 'profile.show.common' }}</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
						  <div class="form-group">
						  	<p class="pull-right col-sm-3 text-right">
						  		<a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-lg fa-pencil"></i></a>
						  	</p>
						    <label class="col-sm-4 control-label">{{ 'profile.show.isQuotable'|trans }}</label>
						    <div class="col-sm-5">
						      <p class="form-control-static">
						      	{% if user.isQuotable %}
						      		<i class="text-success fa fa-check"></i>
				    			{% else %}	
				    				<i class="text-danger fa fa-cross"></i>
				    			{% endif %}
				    		  </p>
						    </div>
						  </div>
						  {% if user.isQuotable %}
							  <div class="form-group">
							    <label class="col-sm-4 control-label">{{ 'profile.show.quotedAs'|trans }}</label>
							    <div class="col-sm-8">
							      <p class="form-control-static">
							      	{% if user.name %}{{ user.name }}{% endif %}</p>
							    </div>
							  </div>
							  <div class="form-group">
							    <label class="col-sm-4 control-label">{{ 'profile.show.url'|trans }}</label>
							    <div class="col-sm-8">
							      <p class="form-control-static">
							      	<a target="_blank" href="{{ user.url }}">{{ user.url }}</a>
							    </div>
							  </div>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
    {% if is_granted('ROLE_TRANSLATOR') %}
    	<p>{{ 'profile.show.isQuotable'|trans }} : 
    		{% if user.isQuotable %}
    			<i class="text-success fa fa-check"></i>
    			<p>{{ 'profile.show.url'|trans }} : <a target="_blank" href="{{ user.url }}">{{ user.url }}</a>
    		{% else %}	
    			<i class="text-danger fa fa-cross"></i>
    		{% endif %}
    	</p>
    {% endif %}
</div>
