{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h1>Modifier {{ edit_form.vars.data }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <a href="{{ path('admin_category_index') }}" class="btn btn-default">
        	<i class="glyphicon glyphicon-chevron-left"></i>
        	Retour
        </a>
        <button type="submit" class="btn btn-warning">
        	<i class="fa fa-check"></i>
        	Modifier
        </button>
    {{ form_end(edit_form) }}
		
    <p><strong>Zone de danger !</strong> Toute suppression est définitive.</p>
    
    {{ form_start(delete_form) }}
    	<input type="submit" class="btn btn-danger" value="Supprimer" />
    {{ form_end(delete_form) }}
{% endblock %}
