{% extends 'admin/layout.html.twig' %}

{% block content %}

    <h1>Liste des catégories :</h1>
    
    <p>
    	<a href="{{ path('admin_category_new') }}">Nouvelle catégorie</a>
    </p>
    
    <ul>
    	{% for category in categories %}
        	<li>
        		<a href="{{ path('admin_category_edit', {'id': category.id}) }}">{{ category.name }}</a>
        		<ul>
        			{% for subcat in category.subcategories %}
        				<li><a href="{{ path('admin_category_edit', {'id': subcat.id }) }}">{{ subcat.name }}</a></li>
        			{% endfor %}
        			<li><a href="{{ path('admin_category_sub', {'id': category.id }) }}">Ajouter une sous-catégorie</a></li>
        		</ul>
        	</li>
        {% endfor %}
    </ul>

{% endblock %}
