{% extends 'admin/layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <h1>Nouvelle catégorie</h1>

	<p class="text-center alert alert-warning"><strong>Attention !</strong> Un valeur laissée vide conduira inévitablement à une erreur 500.</p>
	
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('admin_category_index') }}" class="btn btn-default">
        	<i class="glyphicon glyphicon-chevron-left"></i>
        	Retour
        </a>
        <button type="submit" class="btn btn-success">
        	<i class="fa fa-check"></i>
        	Créer
        </button>
    {{ form_end(form) }}
{% endblock %}
