{% extends "estimate/form.html.twig" %}
{% block title %}{{ 'estimate.app.title'|trans }}{% endblock %}
{% block form_title %}{{ 'estimate.app.title'|trans }}{% endblock %}
{% block form_content %}
	{{ form_errors(form) }}
	{{ form_row(form.quality) }}
	{{ form_row(form.os) }}
	{{ form_row(form.design) }}
	{{ form_row(form.profits) }}
	{{ form_row(form.profitsOther, {'attr':{'placeholder': 'estimate.form.app.profits_other'|trans}}) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function(){
  var idOtherField = 'estimate_app_profitsOther';
  var radioName = 'estimate_app[profits]';
  var idOtherRadio = 'estimate_app_profits_3';
  $other = $('#'+idOtherField);
  $otherRadio = $('#'+idOtherRadio);
  function otherCheck()
  {
    if($('input[name="'+radioName+'"]:checked').val() == $otherRadio.val()){
      $other.show();
      $other.attr('required', 'required');
    } else {
      $other.hide();
      $other.val(null);
      $other.attr('required', false);
    }
  }
  otherCheck();
  $('input[name="'+radioName+'"]').on('change', otherCheck);
})
</script>
{% endblock javascripts %}
