{% extends "estimate/layout.html.twig" %}
{% block title %}{{ 'estimate.confirm.title'|trans }}{% endblock %}
{% block body %}
<div class="container">
<h1>{{ 'estimate.confirm.title'|trans }}</h1>
<table class="table table-striped">
	<tr><td>{{ 'estimate.form.contact.name'|trans }} :</td><td>{{ estimate.name }}</td></tr>
	<tr><td>{{ 'estimate.form.contact.email'|trans }} :</td><td>{{ estimate.email }}</td></tr>
	{% if estimate.company %}
		<tr><td>{{ 'estimate.form.contact.company'|trans }} :</td><td>{{ estimate.company }}</td></tr>
	{% endif %}
	<tr><td>{{ 'estimate.form.project.name'|trans }} :</td><td>{{ estimate.projectName }}</td></tr>
{% if estimate.projectResume or estimate.projectDescription %}
</table>
{% endif %}

{% if estimate.projectResume %}
<div class="card">
    <h2>{{ 'estimate.confirm.resumeTitle'|trans }}</h2>
    <p id="project-resume">{{ estimate.projectResume }}</p>
</div>
{% endif %}

{% if estimate.projectdescription %}
<div class="card">
	<h2>{{ 'estimate.confirm.descriptionTitle'|trans }}</h2>
	<p id="project-description">{{ estimate.projectdescription }}</p>
</div>
{% endif %}

{% if estimate.projectResume or estimate.projectDescription %}
<table class="table table-striped">
{% endif %}
	<tr><td>{{ 'estimate.form.app.quality'|trans }}</td><td>{{ estimate.printQuality()|trans }}</td></tr>
	<tr><td>{{ 'estimate.form.app.os'|trans }}</td><td>{% for os in estimate.printOs() %}{{ os|trans }}{% if not loop.last %}<br/>{% endif %}{% endfor %}</td></tr>
	<tr><td>{{ 'estimate.form.app.design'|trans }}</td><td>{{ estimate.printDesign()|trans }}</td></tr>
	<tr><td>{{ 'estimate.form.app.profits'|trans }}</td><td>{% set profit = estimate.printProfits() %}{% if profit %}{{ profit|trans }}{% else %}{{ estimate.profitsOther }}{% endif %}</td></tr>
	<tr><td>{{ 'estimate.form.systems.website'|trans }}</td><td>{% if estimate.website is sameas(true) %}{{ estimate.websiteUrl }}{% else %}{{ estimate.printWebsite()|trans }}{% endif %}</td></tr>
	<tr><td>{{ 'estimate.form.systems.admin'|trans }}</td><td>{{ estimate.printAdmin()|trans }}</td></tr>
	<tr><td>{{ 'estimate.form.systems.languages'|trans }}</td><td>{{ estimate.languages }} {{ 'estimate.languages'|transchoice(estimate.languages) }}</td></tr>
	<tr><td>{{ 'estimate.form.users.authentication'|trans }}</td><td>{{ estimate.printAuthentication()|trans }}</td></tr>
	{% if estimate.authentication != constant('AppBundle\\Entity\\Estimate::AUTHENTICATION_NO') %}
		<tr><td>{{ 'estimate.form.users.user_profile'|trans }}</td><td>{{ estimate.printProfiles()|trans }}</td></tr>
	{% endif %}
</table>
</div>

<div id="confirm_form">
    {{ form_start(form) }}
    	<input type="submit" class="btn btn-success" />
    {{ form_end(form) }}
</div>

{% endblock %}