{% extends "estimate/layout.html.twig" %}

{% block body %}
	<div class="container">
    	<h1>{% block form_title %}{% endblock %}</h1>

		{% set percent = (step)*20 %}
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
            {{ 'estimate.form.step'|trans|title }} {{ step }}/5
          </div>
        </div>

    	{{ form_start(form) }}
    		{% block form_content %}{{ form_widget(form) }}{% endblock %}
    		<div id="form_controls">
            	{% if step > 1 %}
            		<a href="{{ path('estimate_form', {'step': step-1}) }}" class="btn btn-primary">
            			<i class="glyphicon glyphicon-chevron-left"></i> {{ 'estimate.form.back'|trans }}
            		</a>
            	{% endif %}
    			<button type="submit" class="btn btn-success">
    				{{ 'estimate.form.next'|trans }} <i class="glyphicon glyphicon-chevron-right"></i>
    			</button>
    		</div>
    	{{ form_end(form) }}
    </div>
{% endblock %}