{% extends "base.html.twig" %}
{% block footer_subscribe %}{% endblock %}
{% block stylesheets %}
<style>
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.card {
    padding: 0px 20px 20px 20px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#form_controls {
    text-align:center;
}
#confirm_form {
    text-align: center;
}
#project-resume {
    margin: 10px 20px;
    font-size: 1.3em;
}
#project-description {
    padding: 5%;
    text-align: justify;
}
</style>
{% endblock %}