{% extends "estimate/form.html.twig" %}
{% block title %}{{ 'estimate.systems.title'|trans }}{% endblock %}
{% block form_title %}{{ 'estimate.systems.title'|trans }}{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function(){
  var idOtherField = 'estimate_systems_websiteUrl';
  $other = $('#'+idOtherField);
  function otherCheck()
  {
    if($('#estimate_systems_website option:selected').val() == 1){
      $other.parent().show();
      $other.attr('required', 'required');
    } else {
      $other.parent().hide();
      $other.attr('required', false);
    }
  }
  otherCheck();
  $('#estimate_systems_website').change(otherCheck);
})
</script>
{% endblock %}