{% extends "estimate/form.html.twig" %}
{% block title %}{{ 'estimate.users.title'|trans }}{% endblock %}
{% block form_title %}{{ 'estimate.users.title'|trans }}{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function(){
  var idOtherField = 'estimate_users_userProfile';
  var radioName = 'estimate_users[authentication]';
  var idOtherRadio = 'estimate_users_authentication_0';
  $other = $('#'+idOtherField);
  $otherRadio = $('#'+idOtherRadio);
  function otherCheck()
  {
    if($('input[name="'+radioName+'"]:checked').val() != $otherRadio.val()){
      $other.parent().show();
      $other.attr('required', 'required');
    } else {
      $other.parent().hide();
      $other.attr('required', false);
    }
  }
  otherCheck();
  $('input[name="'+radioName+'"]').on('change', otherCheck);
})
</script>
{% endblock javascripts %}
