<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        <title>{% block title %}Jimmy Tournemaine{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/default.css') }}" />
        {% if "now"|date("m") == 12 %}
        	<link rel="stylesheet" type="text/css" href="{{ asset('css/christmas-theme.css') }}" />
        {% endif %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="snow">
    	<div id="flashes">
        {% for label, flashes in app.session.flashbag.all %}
		    {% for flash in flashes %}
		        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
		        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		            {{ flash }}
		        </div>
		    {% endfor %}
		{% endfor %}
		</div>

    	{% block navbar %}
    	<!-- NAVBAR -->
    	<nav class="navbar navbar-default navbar-fixed-top">
	    	<div class="navbar-header">
	        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
	            	<span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a id="navbar-brand" class="navbar-brand" href="{{ path('homepage') }}">Jimmy Tournemaine</a>
	        </div>
		{% block default_nav %}
	        <div class="collapse navbar-collapse" id="navbar-collapse-1">
	        	{% if is_granted('ROLE_ADMIN') %}<p class="navbar-text">[ Admin ]</p>{% endif %}
	            {{ knp_menu_render('AppBundle:MenuBuilder:mainMenu', {'currentClass': 'active'}) }}
	            {% block add_nav %}{% endblock add_nav %}
	        </div>
		{% endblock default_nav %}
	    </nav>

	  	{% endblock navbar %}

        {% block body %}{% endblock %}

        {% block footer %}
        <footer>
        	{% block footer_subscribe %}
		        <form name="subscriber" method="post" action="{{ path('subscribe_new') }}">
		        		<label for="email">{{ 'subscribe.label'|trans }} :</label>
			       		<div class="input-group">
						  	<input id="email" type="email" class="form-control">
						  	<span class="input-group-btn">
						  		<button type="submit" class="btn btn-default">{{ 'subscribe.submit'|trans }}</button>
						  	</span>
						</div>
				</form>
		    {% endblock %}
        	<p id="social">
        		<a id="linkedin" href="https://www.linkedin.com/in/jimmy-tournemaine-b208b3bb">
        			<span class="fa-stack fa-2x">
					  	<i class="fa fa-circle fa-stack-2x"></i>
					  	<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
					</span>
        		</a>
        		<a id="github" href="https://github.com/JimmyTournemaine">
        			<span class="fa-stack fa-2x">
					  	<i class="fa fa-circle fa-stack-2x"></i>
			  			<i class="fa fa-github fa-stack-1x fa-inverse"></i>
					</span>
        		</a>
        		<a id="twitter" href="https://twitter.com/DJiLegacy">
        			<span class="fa-stack fa-2x">
					  	<i class="fa fa-circle fa-stack-2x"></i>
					  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
        		</a>
        	</p>
        	<p id="copyright">
        		2014 - {{ "now"|date('Y') }} © Jimmy Tournemaine
        	<p>
        	<div id="extra-links">
        		<a id="contact" href="{{ path('contact') }}">{{ 'contact.title'|trans }}</a>
        	</div>
        </footer>
        {% endblock footer %}

        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
        <script>$("#flashes").fadeTo(5000, 500).slideUp(500, function(){
		    $("#flashes").alert('close');
		});</script>
        <script> /* Subscribing form handler */
        $form = $("form[name=subscriber]");
        $form.submit(function(event){
        	event.preventDefault();
        	$.ajax({
                url : $form.attr("action"),
                type : $form.attr("method").toUpperCase(),
                data : 'email=' + $form.find("#email").val(),
                dataType : 'html',
                success: function(data){
                    if(data == 'success') {
						$form.html('<p class="alert alert-success">{{ "subscribe.success"|trans }}</p>');
                    } else {
						$form.addClass("has-error");
						console.log($form.find(".help-block"));
						$form.find(".help-block").remove();
						$form.append('<p class="help-block"><span class="glyphicon glyphicon-exclamation-sign"> '
							+ data
							+ '</span></p>');
                    }

                },
                error: function(err){
                    $form.append(err);
                },
                timeout: function(){
                },
            });
        });
        </script>
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-57935497-1', 'auto');
		  ga('require', 'linkid');
		  ga('send', 'pageview');

		</script>
    </body>
</html>
