{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subscriber list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscriber in subscribers %}
            <tr>
                <td><a href="{{ path('subscribe_show', { 'id': subscriber.id }) }}">{{ subscriber.id }}</a></td>
                <td>{{ subscriber.name }}</td>
                <td>{{ subscriber.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subscribe_show', { 'id': subscriber.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subscribe_edit', { 'id': subscriber.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subscribe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
