{% extends "base.html.twig" %}
{% block body %}
<header id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for Slides -->
	<div class="carousel-inner carousel-fade">
		<div class="item active" data-target="{{ path('project_index') }}">
			<div class="fill"
				style="background-image: url('{{ asset('images/slide-01.jpg') }}');"></div>
			<div class="carousel-caption">
				<h2>{{ 'home.slide1'|trans }}</h2>
			</div>
		</div>
		<div class="item" data-target="{{ path('project_index') }}">
			<div class="fill"
				style="background-image: url('{{ asset('images/slide-02.jpg') }}');"></div>
			<div class="carousel-caption">
				<h2>{{ 'home.slide2'|trans }}</h2>
			</div>
		</div>
		<div class="item" data-target="{{ path('project_index') }}">
			<div class="fill"
				style="background-image: url('{{ asset('images/slide-03.jpg') }}');"></div>
			<div class="carousel-caption">
				<h2>{{ 'home.slide3'|trans }}</h2>
			</div>
		</div>
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a> <a class="right carousel-control" href="#myCarousel"
		data-slide="next"> <span class="icon-next"></span>
	</a>
</header>

<section id="featurettes" class="container">
	<div id="software" class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				{{ 'home.software.title'|trans }}<br>
			</h2>
			<p class="lead">
				{{ 'home.software.lead'|trans() }}
				<a href="{{ path('project_index') }}">{{ 'home.software.link'|trans() }}</a>.
			</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				src="{{ asset('images/software.png') }}"
				alt="">
		</div>
	</div>
	<hr class="featurette-divider"></hr>
	<div id="blog" class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				src="{{ asset('images/blog.png') }}"
				alt="Generic placeholder image">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">
				{{ 'home.blog.title'|trans }}
				<span class="text-muted">{{ 'home.blog.muted'|trans }}</span>
			</h2>
			<p class="lead">{{ 'home.blog.lead'|trans }}<a href="#article">{{ 'home.blog.link'|trans }}</a>.</p>
		</div>
	</div>
	<hr class="featurette-divider"></hr
	<div id="web" class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				{{ 'home.web.title'|trans }}<br>
				<span class="text-muted">{{ 'home.web.muted'|trans }}</span>
			</h2>
			<p class="lead"><a href="{{ path('contact') }}">{{ 'home.web.link'|trans }}</a> {{ 'home.web.lead'|trans }}</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				src="{{ asset('/images/browsers.png') }}"
				alt="">
		</div>
	</div>
</section>

<section id="about_me">
	<h2>{{ 'about.who'|trans }}</h2>
	<img src="{{ asset('images/thumb_me_1024.jpg') }}" alt="About me" class="img-responsive img-circle" />
	<h3>{{ 'about.iam'|trans }}</h3>
	{% for i in 0..2 %}
		<p>{{ ('about.text.' ~ i )|trans }}</p>
	{% endfor %}
</section>

<section id="references">
  <div class="container">
  	<h2>{{ 'references.title'|trans }}</h2>

    <div class="col-xs-12 col-sm-6">
		<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="{{ asset('images/nobody.jpg') }}" alt="Christophe Gouyen">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Christophe Gouyen <small>{{ 'references.tof.work'|trans }}</small></h4>
		    {{ 'references.tof.quote'|trans }}
		  </div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="{{ asset('images/raph.jpg') }}" alt="Christophe Gouyen">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Raphaël Guigo <small>{{ 'references.raph.work'|trans }}</small></h4>
		    {{ 'references.raph.quote'|trans }}
		  </div>
		</div>
	</div>
  </div>
</section>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/main.min.css') }}" />
{% endblock %}
{% block javascripts %}
	<script>
function checkScroll(){
    var startY = $('.navbar').height() * 2; //The point where the navbar changes in px

    if($(window).scrollTop() <= startY){
        $('.navbar').addClass("noscrolled");
    }else{
        $('.navbar').removeClass("noscrolled");
    }
}

if($('.navbar').length > 0){
    $(window).on("scroll load resize", function(){
        checkScroll();
    });
}
$('.carousel').carousel({
	interval: 5000,
	pause: "false"
});
</script>
	{% endblock %}
