{% extends "::base.html.twig" %}
{% block title %}Administration{% endblock %}
{% trans_default_domain "admin" %}
{% block navbar %}
{{ parent() }}
<div id="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><a href="{{ path('admin_dashboard') }}"> Administration </a></li>
			{#<li><a href="{{ path('admin_articles') }}">Stats</a></li>#}
			<li><a href="{{ path('admin_category_index') }}">Categories</a></li>
			<li><a href="{{ path('admin_projects') }}">Projets</a></li>
			{#<li><a href="{{ path('admin_articles') }}">Articles</a></li>#}
		</ul>
	</div>

	<div id="page-content-wrapper">
	{% block content %}{% endblock content %}
	</div>

</div>
<!-- /#wrapper -->
{% endblock navbar %}

{% block footer %}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin_sidebar.css') }}" />
{% endblock %}