{% extends "admin/layout.html.twig" %}

{% block title %}{{ parent() }} - Projets{% endblock %}

{% block content %}

	<h2>Liste des projets</h2>

	<a href={{ path('project_new') }}>Créer un projet</a>
	<table class="table table-striped table-hover">
		{% for project in projects %}
			<tr>
				<td>{{ project.name }}</td>
				<td><a href={{ path('project_show', {'slug': project.slug}) }} class="btn btn-xs btn-default">Voir</a>
				    {% for loc, lab in locales_labels if loc != default_locale %}
				    	<a href={{ path('project_translate', {'slug': project.slug, 'locale': loc}) }} class="btn btn-xs btn-default">{{ lab|title }}</a>
				    {% endfor %}
				    {% if not project.published %}
				    	<a href={{ path('project_publish', {'slug': project.slug}) }} class="btn btn-xs btn-success">Publier</a>
				    {% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}