{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p>
    	{{ 'registration.andnow.0'|trans({}, 'messages') }}
    	<a href="{{ path('contact') }}">{{ 'registration.andnow.1'|trans({}, 'messages') }}</a>
    	{{ 'registration.andnow.2'|trans({}, 'messages') }}
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
