{{ form_start(newForm, {'action': path('jt_blog.banned_word.new'), 'attr': {'id': 'jt_blog_bannedWord_form', 'class': 'form-inline'}}) }}
	{{ form_errors(newForm.word) }}
    {{ form_widget(newForm.word) }}
{{ form_end(newForm) }}