{% extends "JTBlogBundle::layout.html.twig" %}

{% block title %}BlogBundle:BannedWord:index{% endblock %}

{% block content %}
    <h1>Welcome to the BannedWord:index page</h1>

	<div id="jt_blog_newForm">
	    {{ include("JTBlogBundle:bannedWord:form.html.twig") }}
	</div>
	<ol id="jt_blog_list">
    {% for bannedWord in bannedWords %}
    	<li>{{ bannedWord.word }} (<a class="jt_blog_delete_link" href="{{ path('jt_blog.banned_word.delete', {'id':bannedWord.id}) }}">delete</a>)</li>
    {% else %}
    	<li>Il n'a actuellement aucun banni.</li>
    {% endfor %}
    </ol>
{% endblock %}

{% block javascripts %}
<script>
$(function(){
	// Subit form with AJAX
	$('#banned_word_submit').click(function(e){
		e.preventDefault();
		var form = $('#jt_blog_bannedWord_form');
		$.ajax({
			url: form.attr('action'),
			method: form.attr('method'),
			data: {
				'banned_word': {
					'word': form.find('#banned_word_word').val(),
					'submit': "",
					'_token': form.find('#banned_word__token').val()
				}
			},
			success: function(data, textStatus, jqXHR){
				$('#jt_blog_list').prepend('<li>'+data+'</li>');
			},
			error: function(jqXHR, textStatus, errorThrown){
				if (jqXHR.status == 406) {
					$('#jt_blog_newForm').html(jqXHR.responseText);
				} else {
					alert(jqXHR.status + " - " + textStatus);
				}
				console.log([jqXHR, textStatus, errorThrown]);
			}
		});
	});

	// Delete link with ajax
	$('.jt_blog_delete_link').click(function(e){
		e.preventDefault();
		var link = this;
		$.ajax({
			url: link.href,
			success: function(data, textStatus, jqXHR){
				$(link).parent().remove();
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(jqXHR.status + " - " + textStatus);
			}
		});
	});
})
</script>
{% endblock %}
