{% extends "trans/layout.html.twig" %} {% block content %}
<h1>Dashboard</h1>
<hr />
<div class="col-lg-6 col-md-12">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-comments fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{ nbLanguages }}</div>
						<div>Langues !</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-book fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{ nbTranslations }}</div>
						<div>Traductions !</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Traductions
			</div>
			<div id="donut" class="panel-body">
				<div id="morris-donut-chart"></div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-6 col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-clock-o fa-fw"></i> Timeline
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<ul class="timeline">
			{% for translation in translations %}
				<li{% if loop.index % 2 == 1 %} class="timeline-inverted"{% endif %}>
					<div class="timeline-badge">
						<i class="fa fa-check"></i>
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">{{ translation.project.name }} ({{ translation.locale }})</h4>
							<p>
								<small class="text-muted">
									<i class="fa fa-clock-o"></i>
									{{ translation.updatedAt|localizeddate('short', 'short') }}
								</small>
							</p>
						</div>
						<div class="timeline-body">
							<p>
								{% if translation.oldBrief %}
									Tu as modifié le résumé de ce projet.
								{% endif %}
								{% if translation.oldDescription %}
									Tu as modifié la description de ce projet.
								{% endif %}
							</p>
						</div>
					</div>
				</li>
			{% endfor %}
			{% if translations|length < 5 %}
				<li{% if translations|length % 2 == 1 %} class="timeline-inverted"{% endif %}>
					<div class="timeline-badge">
						<i class="fa fa-check"></i>
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Inscription</h4>
							<p>
								<small class="text-muted">
									<i class="fa fa-clock-o"></i>
									{{ app.user.signedOutAt|localizeddate('short', 'short') }}
								</small>
							</p>
						</div>
						<div class="timeline-body">
							<p>
								Salut {{ app.user }} ! Merci beaucoup de m'aider à traduire mon site :)
							</p>
						</div>
					</div>
				</li>
			{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/morris.css') }}" />
<link rel="stylesheet" href="{{ asset('css/timeline.css') }}" />
<style>
.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}
</style>
{% endblock %} {% block javascripts %}
<script src="{{ asset('js/raphael-min.js') }}"></script>
<script src="{{ asset('js/morris.min.js') }}"></script>
<script>
$(function() {
	var json = {{ json|raw }};
	Morris.Donut({
        element: 'morris-donut-chart',
        data: json,
        resize: true
    });
});
</script>
{% endblock %}
