{% extends "trans/layout.html.twig" %}

{% block title %}{{ parent() }} - Projets{% endblock %}

{% block content %}

	<h2>Liste des projets</h2>
	
	<table class="table table-striped table-hover">
		{% for project in projects %}
			<tr>
				<td>{{ project.name }}</td>
				<td><a href={{ path('project_show', {'slug': project.slug}) }} class="btn btn-xs btn-default">Voir</a>
				    {% for loc, lab in locales_labels %}
				    	<a href={{ path('project_translate', {'slug': project.slug, 'locale': loc}) }} class="btn btn-xs {% if loop.index % 2 == 1 %}btn-primary{%else%}btn-default{% endif %}">{{ lab|title }}</a>
				    {% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
