{% extends "trans/layout.html.twig" %}

{% block content %}

    <h1>Édition du projet</h1>
    <table class="table table-striped">
    	<tr><th>Projet :</th><td>{{ project.name }}</td></tr>
    	<tr><th>Version :</th><td>{{ locale }}</td></tr>
    	<tr><th>Date de publication :</th><td>Le {{ project.publishedAt|date('d/m/Y à H:i') }}</td>
    	<tr><th>Dernière mise à jour :</th><td>Le {{ project.updatedAt|date('d/m/Y à H:i') }}</td></tr>
    </table>
    
    <div class="row">
	    {{ form_start(edit_form) }}
	        {{ form_widget(edit_form) }}
	        <input type="submit" value="Mettre à jour" class="btn btn-success"/>
	        <a href="{{ path('project_index') }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour</a>
	    {{ form_end(edit_form) }}
	</div>
{% endblock %}
