{% extends "SpentBundle::layout.html.twig" %}

{% block title %}Ancients Réglements{% endblock %}

{% block content %}
<h1>Ancients Réglements</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for settlement in settlements %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
              {{ settlement.settledAt|date('d/m/Y') }}
            </a>
          </h4>
        </div>
        <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
          {{ include("SpentBundle:Spent:spent_table.html.twig", {'spents': settlement.spents }) }}
        </div>
      </div>
  {% endfor %}
{% endblock %}
