body { 
	background-color:black;
	color: white;
	background-image: url('../images/snow-sparse-flipped.png'), url('../images/snow-dense.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

h2 { color: whitesmoke;}
h4.media-heading { color: #5a5a5a; }

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	

a {
	color: red;
}
a:hover, a:focus {
	color: #380000;
}

.navbar-header > a.navbar-brand {
	color: red;
	font-weight: 300; 
}

.navbar-nav li:not(.active) a:hover,
.navbar-nav li:not(.active) a:focus {
	color: red!important;
}

.dropdown-menu > li.active a {
	background: red!important;
}

.dropdown-menu > li.active a:hover,
.dropdown-menu > li.active a:focus {
	background-color: white!important;
	color: green!important;
}

body > hr { color: black; }
footer {
	width: 100%;
	margin: auto;
	margin-top: 50px;
	border-top: none;
	background: url("../images/christmas-footer.jpg") #380002;
	background-repeat: none;
	background-attachment: cover;
	background-repeat:no-repeat;
	border: 0 10px 0 10px;
	-webkit-border-image: url("../images/chrismas-hr.png") 25 0 25 0 round;
    -o-border-image: url("../images/chrismas-hr.png") 25 0 25 0 round;
    border-image: url("../images/chrismas-hr.png") 25 0 25 0 round;
    color: white;
}

.panel {
  color: black;
}

.table {
  background-color: white;
  color: black;
}
