/* ---------------- GLOBAL ----------------*/
a {
	color: green;
}
a:hover, a:focus {
	color: #0c4701;
}

/* -------------------- NAVBAR --------------------- */
body {
	padding-top: 80px;
}

#flashes {
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 2; 
}

.navbar { 
	background: rgb(255, 255, 255); //
	IE background: rgba(255, 255, 255, 0.78);
	//
	NON-IE
}

.navbar-header > a.navbar-brand {
	color: green;
}

.navbar-nav > li {
	text-transform: uppercase;
	font-weight: 700;
}
.dropdown-menu > li {
	text-transform: none;
}

.navbar-nav li:not(.active) a:hover,
.navbar-nav li:not(.active) a:focus {
	color: green!important;
}

.dropdown-menu > li.active a {
	background: green!important;
}

.dropdown-menu > li.active a:hover,
.dropdown-menu > li.active a:focus {
	background-color: white!important;
	color: green!important;
}


/* -------------------- FOOTER -------------------- */

footer {
	width: 90%;
	margin: 50px;
	border-top: solid #aaa 1px;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}

footer form[name="subscriber"] {
	margin: 20px 25%;
} 

footer #social {
	margin-top: 50px;
}

footer #social a {
	color: black;
}

footer #copyright {
	font-size: 1.3em;
}