#error h1, #error h2 {
	padding: 20px;
}
#error h1 {
	margin: auto;
	font-size: 3em;
	text-align: center;
}
#error h2 {
	margin: auto;
	width: 80%;
}
#error p {
	margin: auto;
	font-size: 1.1em;
	width: 80%;
	font-style: italic;
	text-align: justify;
}
#controls {
	text-align: center;
	margin: 50px auto;
}
#controls a {
	margin: 0 5%;
}
