/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.navbar.noscrolled {
	background: transparent;
	color: gray!important;
	-webkit-transition : all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	-ms-transition: all 3s ease-out;
	transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
}

.navbar.noscrolled .navbar-header > a.navbar-brand {
	color: gray;
}

.navbar.noscrolled .navbar-nav li:not(.active) a:hover,
.navbar.noscrolled .navbar-nav li:not(.active) a:focus {
	color: gray!important;
}

.navbar.noscrolled.navbar-default .navbar-nav > .active > a {
      color: gray;
      background: transparent;
 }
 
 * {
 	margin-right: 0;
 }

html,
body {
	padding-top: 0;
	width: 100%;
    height: 100%;
}

header {
	width: 100%;
	height: 80%;
}
.carousel, .carousel .item, .carousel .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-caption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}

.carousel-caption h2 {
  color: whitesmoke;
}

.carousel-indicators {
	display: none;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

#about_me {
	margin: 25px 0;
	text-align: center;
	padding: 25px;
	color: white;
	background-color: rgb(71,78,90);
	font-size: 1.5em; 
}
#about_me h2 {
  color: whitesmoke;
  margin: 40px;
	font-size:   2.2em;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}
#about_me h3 {
  color: whitesmoke;
	font-size:   1.6em;
	font-weight: 100;
	margin-bottom: 30px;
}
#about_me img {
	display: inline;
	max-height: 400px;
}
#about_me p {  
	text-align: justify;
	font-weight: 200;
	padding: 0 10%;
	margin: 30px 0;
}
#about_me .centered {
	text-align: center;
}
#about_me .centered a {
	color: #fff;
	text-decoration: underline;
}
#about_me .centered a:hover,
#about_me .centered a:focus {
	text-shadow: 0px 0px 9px #fff;
}
#stage {
	padding-top: 60px;
}
#references {
  padding: 20px;
}
#references h2 {
	text-align: center;
	font-size:   2.2em;
	font-weight: 100;
	margin-bottom: 30px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 991px) {
	.featurette-image {
		display: none;
	}
	.featurette-divider {
		margin: 20px;
	}
}
    
@media (max-width: 767px) {
  .navbar-nav {
  	float: none;
  	width: 100%;
  }
  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}
