.thumbnail .brief {
    height: 3em;
}

.thumbnail img {
	height: 200px;
}

#pages {
	margin: auto;
	text-align: center;
}
.pagination {
	margin: auto 0;
}
#filter {
	margin: 0 0 20px 0;
}
.popover-content ul {
	margin: 0;
	padding-left: 20px;
	text-align: left;
}