{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="text-center">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Connexion</h3>
		</div>
		<div class="panel-body">
			{% if error %}
			    <div class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<form id="login" action="{{ path("fos_user_security_check") }}" method="post" class="form-inline">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				<div class="row">
					<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" class="form-control" />
					<input class="form-control" type="password" id="password" placeholder="{{ 'security.login.password'|trans }}" name="_password" required="required" />
				</div>
				<div class="row">
					<input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
					<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
				</div>
				<div class="row">
					<input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
				</div>
				<div class="row">
					<a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
				</div>
			</form>
			
			<h4>Pas encore inscrit ?</h4>
			<p class="text-muted">S'inscrire prend quelques secondes, n'hésite pas !</p>
			<a id="registration" href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">{{ 'layout.register'|trans }}</a>
		</div>
	</div>
</div>
{% endblock fos_user_content %}
{% block stylesheets %}
<style>
#login > div {
	margin-bottom: 1em;
}
#login {
margin-bottom: 3em;
}
#registration {
	max-width: 100%;
	width: 200px;
}
</style>
{% endblock %}
