{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
</div>
{% endblock %}
