{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <div class="form-group">
	        <label class="label-form" for="username">{{ 'resetting.request.username'|trans }} :</label>
	        <input class="form-control" type="text" id="username" name="username" required="required" />
	    </div>
    </div>
    <div class="form-group">
        <input class="btn btn-default" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
