{% extends "base.html.twig" %}
{% block meta %}<meta name="robots" content="noindex, nofollow"/>{% endblock %}
{% block title %}Dépenses{% endblock %}
{% block body %}
<div class="container">{% block content %}{% endblock content %}</div>
{% endblock %}
{% block footer %}{% endblock %}