{% extends 'SpentBundle::layout.html.twig' %}
{% block title %}Désaccord{% endblock %}
{% block content %}
    <h1>Désaccord</h1>

    {{ form_start(form) }}
    	{{ form_widget(form) }}
    	<a href="{{ path('spent_index') }}" class="btn btn-default">
    		<i class="glyphicon glyphicon-chevron-left"></i>
    		Retour
    	</a>
    	<input type="submit" value="Valider" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
