{% extends 'SpentBundle::layout.html.twig' %}
{% block title %}Modification{% endblock %}
{% block content %}
    <h1>Modification</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <a class="btn btn-default" href="{{ path('spent_index') }}">Retour</a>
        <input class="btn btn-warning" type="submit" value="Enregistrer" />
    {{ form_end(edit_form) }}
{% endblock %}
