{% extends 'SpentBundle::layout.html.twig' %}
{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}
{% block content %}
<div class="container">
    <h1>Dépenses</h1>

	<div class="row">
    	<div class="panel panel-primary">
    		<div class="panel-heading">
    			<h3 class="panel-title">Total</h3>
    		</div>
    		<div class="panel-body">
    			<div class="row">
					<div class="col-md-6">
                        {% for family, total in totals %}
                            <p>{% if family %}Tournemaine{% else %}Crenn{% endif %} : {{ total }} €</p>
                        {% endfor %}
                        {% set result = totals[true] - totals[false] %}
                        {% if result > 0 %}
                        	<p>Les Crenn doivent <strong>{{ result }} €</strong> aux Tournemaines.</p>
                        {% else %}
                        	<p>Les Tournemaines doivent <strong>{{ -1*result }} €</strong> aux Crenn.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ form_start(settleForm) }}
                        	{{ form_row(settleForm.settledAt) }}
                        	<input type="submit" class="btn btn-primary" value="C'est Réglé" />
                        {{ form_end(settleForm) }}
            		</div>
            	</div>
            </div>
    	</div>

        {% for spent in spents if spent.disagreement is not null %}
        	<div class="col-md-6">
            	<div class="panel panel-default">
            		<div class="panel-heading">
            			<h3 class="panel-title">Désaccord !</h3>
            		</div>
            		<div class="panel-body">
            			<h4>{{ spent.label }}</h4>
            			<p>Raisons du désaccord : {{ spent.disagreement }}</p>
            		</div>
            	</div>
            </div>
        {% endfor %}
    </div>

	<p><a id="add-form-link" href="#">Ajouter une dépense</a></p>
	<div id="add-form">
	    {{ form_start(form) }}
	    	{{ form_widget(form) }}
        	<div id="add-form-submit" class="col-sm-offset-2 col-sm-10"><input class="btn btn-primary" type="submit" value="Enregistrer" /></div>
        {{ form_end(form) }}
	</div>
	<div id="spent-errors"></div>
    {{ include('SpentBundle:Spent:spent_table.html.twig') }}
</div>
{% endblock %}

{% block javascripts %}
<script>
$(function(){
	var addFormLink = $('#add-form-link');
	var addForm = $('#add-form');
	var addFormShowed = false;

	function hideAddForm(){
		addFormLink.text("Ajouter une dépense");
		addForm.slideUp();
		addFormShowed = false;
	}function showHideForm(){
		addFormLink.text("Cacher le formulaire.");
		addForm.slideDown();
		addFormShowed = true;
	}

	// Show/Hide the spent-adding form
	$('#add-form-link').click(function(){if(addFormShowed){hideAddForm()}else{showHideForm()}});

	// Display a big label
	$('td.spent-label a.spent-label-more').click(function(e){
		var clicked = $(e.target);
		clicked.parent().siblings('.spent-label-p').css('white-space', 'normal');
		clicked.parent().remove();
	});

	// Edit a form's row
	function onEditLinkClick(element){
    	element.click(function(e){
    		e.preventDefault();

    		// Get elements
    		var editLink = $(e.target);
    		var deleteLink = editLink.siblings('a');
    		var parent = editLink.parents('tr');
    		var savedTr = parent.clone();
    		var label = parent.find('.spent-label');
    		var price = parent.find('.spent-price');
    		var date = parent.find('.spent-date');
    		var url = editLink.attr('href');

    		// Prepare the form
    		var inputLabel = '<input type="text" name="spent[label]" required="required" class="form-control input-sm" value="'+label.find('.spent-label-p').text()+'" />';
    		var priceText = price.first('p').text();
    		var inputPrice = '<input type="text" name="spent[price]" required="required" class="form-control input-sm" value="'+priceText.substr(0, priceText.lastIndexOf("€")-1)+'" />';
    		var inputDate = '<input type="text" name="spent[spentAt]" required="required" class="form-control input-sm" value="'+date.text()+'" />';
    		var submit = '<button class="edit-submit btn btn-xs btn-success">Enregistrer</button>';
    		var cancel = '<button class="edit-cancel btn btn-xs btn-default">Annuler</button>';

    		// Replace
    		editLink.parent().html(submit).append(cancel);
    		label.html(inputLabel);
    		price.html(inputPrice);
    		date.html(inputDate);

    		// Processing
    		parent.find('.edit-cancel').click(function(){
    			parent.replaceWith(savedTr);
    			onEditLinkClick(savedTr.find('.spent-edit'));
    		});
    		parent.find('.edit-submit').click(function(e){
        		var btn = $(e.target).button('Enregistrement...');
    			var data = {
    					'spent': {
    						'label': parent.find('[name="spent[label]"]').val(),
    						'price': parent.find('[name="spent[price]"]').val(),
    						'spentAt': parent.find('[name="spent[spentAt]"]').val(),
    					}
    			};
    			var errors = $('div#spent-errors');
    			errors.children().remove();
    			$.ajax({
    				data: data,
    				url: url,
    				method: 'POST',
    				success: function(data){
        				var newRow = $(data);
    					parent.replaceWith(newRow);
    					onEditLinkClick(newRow.find('.spent-edit'));
        			},
        			statusCode: {
        				406: function(jqXHR){
        					errors.append(jqXHR.responseText);
        					parent.addClass('has-error');
            			}
            		},
        			error: function(jqXHR, textStatus, errorThrown){
            			if(jqXHR.status == 406){
                			return;
                		}
            			alert("Le serveur a retourné une erreur : "+errorThrown);
            		},
            		complete: function(){
            			btn.button('reset');
                	}
    			});
    		});

    	});
	}
	onEditLinkClick($('.spent-edit'));

	// Ask confirmation before delete an entity
	$('.spent-delete').click(function(e){
		var row = $(e.target).parents('tr');
		var family = row.find('.spent-family').text();
		var label = row.find('.spent-label-p').text();
		var price = row.find('.spent-price').text();
		if(!confirm("Je supprime vraiment cette dépense ?\n"+price+" des "+family+"\n"+label)){
			e.preventDefault();
		}
	});
})
</script>
{% endblock %}


{% block stylesheets %}
<style>
    div#add-form {
        display:none;
    }
    td.spent-price {
        text-align: right;
    }
    td.spent-label {
        max-width: 400px;
    }
    td.spent-label p.spent-label-p {
        white-space:nowrap;
        overflow: hidden;
    }
</style>
{% endblock %}