<table id="spent-list"
	class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>Famille</th>
			<th>Dépense</th>
			<th>Prix</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>{% for spent in spents %} {{ spent|spent_row|raw }} {% endfor %}
	</tbody>
</table>