{% extends 'JTBlogBundle::layout.html.twig' %}

{% block content %}
    <table>
        {% for article in articles %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.publishedAt | date('Y-m-d H:i:s') }}</td>
        </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
    	<ul>
    		{% for i in 1..pages %}
    			<li><a href="{{ path('jt_blog.article_index', {'page' : i}) }}" {% if i == page %}disabled="disabled"{% endif %}>{{ i }}</a></li>
    		{% endfor %}
    	</ul>
    </div>
{% endblock %}