{% extends 'JTBlogBundle::layout.html.twig' %}

{% block content %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content|raw }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if article.updatedAt %}{{ article.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{% if article.tags %}{{ article.tags|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'jt_blog.article.'~article.slug} %}

{% endblock %}

{% block stylesheets %}
	{% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}
{% endblock %}