{% extends 'JTBlogBundle::layout.html.twig' %}
{% trans_default_domain "JTBlogBundle" %}
{% block content %}
    <h1>{{ 'article.private.title'|trans }}</h1>

    {{ form_start(form) }}
    	{{ form_widget(form) }}
    	<input type="submit" value="Access" class="btn btn-warning" />
    {{ form_end(form) }}
{% endblock %}
