{% extends "SpentBundle::layout.html.twig" %}

{% block title %}Supression d'abonnement{% endblock %}

{% block content %}
<h1>Supression d'abonnement</h1>

{{ flash('danger', 'Es-tu certain de vouloir supprimer cet abonnement ? Toute suppression est définitive.', false)|raw }}

{{ form_start(form) }}
	{{ form_widget(form) }}
	<a class="btn btn-default" href="{{ path('spent_subscription_index') }}">Retour</a>
	<input type="submit" value="Supprimer" class="btn btn-danger"/>
{{ form_end(form) }}
{% endblock %}
