{% extends "SpentBundle::layout.html.twig" %}

{% block title %}Modification d'un abonnement{% endblock %}

{% block content %}
<h1>Modification d'un abonnement</h1>

{{ form_start(form) }}
	{{ form_widget(form) }}
	<a class="btn btn-default" href="{{ path('spent_subscription_index') }}">Retour</a>
	<input type="submit" value="Mettre à jour" class="btn btn-warning"/>
{{ form_end(form) }}
{% endblock %}
