{% extends "SpentBundle::layout.html.twig" %}

{% block title %}Abonnements{% endblock %}

{% block content %}
<h1>Abonnements</h1>

<a href="{{ path('spent_subscription_new') }}">Ajouter un abonnement</a>

<div class="row">
{% for subscription in subscriptions %}
	<div class="col-sm-6 col-md-4 col-lg-3">
		<h2>{{ subscription.label }}</h2>
		<h3 class="text-muted">{{ subscription.price }} €</h3>
		<p>Débité le {{ subscription.debitedAt }} du mois</p>
		{% if is_granted('edit', subscription) %}
    		<a href="{{ path('spent_subscription_edit', {'id': subscription.id }) }}" class="btn btn-xs btn-warning">Modifier</a>
    	{% endif %}
    	{% if is_granted('delete', subscription) %}
    		<a href="{{ path('spent_subscription_delete', {'id': subscription.id }) }}" class="btn btn-xs btn-danger">Supprimer</a>
    	{% endif %}
	</div>
{% else %}
	{{ flash('info', 'Il n\'y a aucun abonnement pour le moment !')|raw }}
{% endfor %}
</div>
{% endblock %}
