{% extends "SpentBundle::layout.html.twig" %}

{% block title %}Nouvel abonnement Mensuel{% endblock %}

{% block content %}
<h1>Nouvel abonnement Mensuel</h1>

{{ form_start(form) }}
	{{ form_widget(form) }}
	<input type="submit" value="Ajouter" class="btn btn-primary"/>
{{ form_end(form) }}
{% endblock %}
