{% extends 'admin/layout.html.twig' %}

{% block content %}

    <h1>Édition du projet</h1>

    <div class="row">
	    {{ form_start(edit_form) }}
	        {{ form_widget(edit_form) }}
	        <input type="submit" value="Mettre à jour" class="btn btn-success"/>
	        <a href="{{ path('project_index') }}" class="btn btn-default">Back</a>
	    {{ form_end(edit_form) }}
	</div>

	<hr>
	<p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
        	<strong>Danger zone !</strong> After deleting this project, any data will be recoverable.
    </p>
    
    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
    

{% endblock %}
