{% extends 'base.html.twig' %}
{% import _self as mac %}
{% block title %}{{ 'project.index.title'|trans }}{% endblock title %}
{% block body %}
<div class="container">

	<div id="filter" class="row">
		<div class="col-sm-4 col-md-2">
			<a tabindex="0" role="button" data-toggle="popover" class="btn btn-default">
				{{ 'project.index.filter'|trans }} <b class="caret"></b>
			</a>
		</div>
	</div>

	<div class="row text-center">
	{% for project in projects %}
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src="{{ project.thumbnail }}" alt="">
                <div class="caption">
                    <h3>{{ project.name }}</h3>
                    <p class="brief">{{ project.brief }}</p>
                    <p>
                    	{% if project.buyUrl %}
                    		<a href="{{ project.buyUrl }}" class="btn btn-primary">{{ 'project.buy'|trans }}</a>
                    	{% elseif project.downloadUrl %}
                    		<a href="{{ project.downloadUrl }}" class="btn btn-primary">{{ 'project.download'|trans }}</a>
                    	{% endif %}
                        <a href="{{ path('project_show', {'slug': project.slug}) }}" class="btn btn-default">{{ 'project.more'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
    {% else %}
    	<h3>{{ 'project.index.no_result.title'|trans }}</h3>
    	<p>
    		{{ 'project.index.no_result.text'|trans }}<br />
    		<a href="{{ path('project_index') }}">{{ 'project.index.no_result.see_all'|trans }}</a>
    	</p>
	{% endfor %}
	</div>
	
	{% if nbPages > 0 %}
		<div id="pages">
			<ul class="pagination">
				<li>	
				    {% if page != 1 %}
					    <a href="{{ mac.path('project_index', {'page': page-1}, category) }}" aria-label="Previous">
					    	<span aria-hidden="true">&laquo;</span>
					    </a>
					{% else %}
						<span aria-hidden="true">&laquo;</span>
					{% endif %}
			    </li>
		
				{% for p in range(1,nbPages) %}
					<li{% if p == page %} class="active"{% endif %}>
						<a href="{{ mac.path('project_index', {'page': p}, category) }}">{{ p }}</a>
					</li>
				{% endfor %}
				
				<li>
					{% if page != nbPages %}
				    	<a href="{{ mac.path('project_index', {'page': page+1}, category) }}" aria-label="Next">
				    		<span aria-hidden="true">&raquo;</span>
				    	</a>
				    {% else %}
				    	<span aria-hidden="true">&raquo;</span>
			    	{% endif %}
			    </li>
			</ul>
		</div>
	{% endif %}
</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{ asset('css/project_index.css') }}>
{% endblock %}

{% macro path(path, option, category) %}
	{{ path(path, option) }}{% if category != null %}?category={{ category }}{% endif %}
{% endmacro %}
{% macro filter(categories) %}<ul><li><a href="{{ path('project_index') }}">{{ 'project.index.categories.all'|trans }}</a></li>{% for cat in categories %}<li><a href="{{ path('project_index') }}?category={{ cat.id }}">{{ cat }}</a></li><ul>{% for sub in cat.subcategories %}<li><a href="{{ path('project_index') }}?category={{ sub.id }}">{{ sub }}</a></li>{% endfor %}</ul>{% endfor %}</ul>{% endmacro %}

{% block javascripts %}
	<script>$(function () { $('#filter > div > a').popover({
		'animation': false,
		'content': '{{ mac.filter(categories) }}',
		'html': true,
		'title': 'Filtrer par catégorie',
		'placement': 'bottom'
	}) })</script>
{% endblock %}

