{% extends 'admin/layout.html.twig' %}

{% block content %}

    <h1>Nouveau projet ({{ default_locale }})</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
        <a href="{{ path('admin_projects') }}" class="btn btn-default">Back to the list</a>
    {{ form_end(form) }}

{% endblock %}
