{% extends 'base.html.twig' %}
{% block title %}{{ project.name }}{% endblock %}
{% if not project.published %}
	{% block meta %}<meta name="robots" content="noindex"/>{% endblock %}
{% endif %}
{% block body %}
<div class="container">
	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				src="{{ project.thumbnail }}"
				alt="{{ project.name }}">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">
				{{ project.name }}
			</h2>
			<p class="lead">{{ project.brief }}</p>
		</div>
	</div>

	<hr />

	<div id="row_description" class="row">
		<div id="description" class="row">
			{{ project.description|raw }}
		</div>
		<div class="row">
			{% if project.buyUrl %}
		    	<a target="_blank" href="{{ project.buyUrl }}" class="btn btn-primary">{{ 'project.buy'|trans }}</a>
		    {% elseif project.downloadUrl %}
		        <a target="_blank" href="{{ project.downloadUrl }}" class="btn btn-primary">{{ 'project.download'|trans }}</a>
		    {% endif %}
		    {% if project.demoUrl %}
		    	<a target="_blank" href="{{ project.demoUrl }}" class="btn btn-default">{{ 'project.preview'|trans }}</a>
		    {% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/project_show.css') }}" />
{% endblock %}
