{% extends 'base.html.twig' %}
{% block title %}{{ 'project.private.title'|trans }}{% endblock %}
{% block body %}
<div class="container">
	<p class="alert alert-info">
		{{ 'project.private.alert'|trans }}
	</p>
	{{ form_start(form) }}
		{{ form_widget(form) }}
		<input type="submit" value="{{ 'project.private.submit'|trans }}" class="btn btn-default"/>
	{{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/project_show.css') }}" />
{% endblock %}
