{% extends "::base.html.twig" %}

{% block title %}{{ 'contact.title'|trans }}{% endblock %}

{% block body %}
<div class="container">
	<h1>{{ 'contact.title'|trans }}</h1>
	
	{{ form_start(form) }}
		{{ form_widget(form) }}
		<div class="g-recaptcha" data-sitekey="6LfpPRsTAAAAAHjIQshQYFitg2GccwyIUt0NBs22"></div>
		<input type="submit" value="{{ 'contact.label.submit'|trans }}" />
	{{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
<script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}'></script>
<script>
	$('#contact_submit').on('click', function () {
    	$(this).button('loading');
	});
</script>
{% endblock %}
